<!-- your html code here -->
<div class="row bg-white">
    <div class="d-flex justify-content-center">
        <div class="row col-9">
            <div class="row">
                <h2 id="portfolio">Portafolio</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sint aliquam doloribus. Culpa earum
                    eos
                    sequi facere blanditiis doloribus labore in a dolore ducimus fuga at alias illo maiores natus sit
                    explicabo, corrupti molestiae quidem totam, ab perspiciatis iste suscipit.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="bg-secondary mb-2 box">
                    </div>
                    <img class="img-fluid" src="http://placehold.it/700x400" alt="">
                    <p class="h5 text-primary">Project Name</p>
                    <p class="">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid temporibus facilis quibusdam explicabo distinctio! Reprehenderit numquam quas iure ipsa dolor.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="bg-secondary mb-2 box">
                    </div>
                    <img class="img-fluid" src="http://placehold.it/700x400" alt="">
                    <p class="h5 text-primary">Project Name</p>
                    <p class="">
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quia ex officiis tenetur voluptas et porro fuga. Consequuntur, nemo architecto.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="bg-secondary mb-2 box">
                    </div>
                    <img class="img-fluid" src="http://placehold.it/700x400" alt="">
                    <p class="h5 text-primary">Project Name</p>
                    <p class="">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis dolore quasi alias modi voluptas exercitationem expedita numquam, atque dignissimos!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>