<!-- your html code here -->
<div class="row bg-white">
    <div class="d-flex justify-content-center">
        <div class="row pt-5 pb-5 col-9">
            <div class="d-flex justify-content-start">
                <img class="rounded-circle ms-3" src="./assets/img/2.jpg" alt="Imagen" width="250" height="250">
                <div>
                    <h1>
                        The Second Heading <span class="text-muted">is pretty cool too</span>
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur unde magnam pariatur magni.
                        Quia, totam illum porro deleniti adipisci voluptatibus cupiditate eveniet officiis? Numquam quis
                        voluptas, non nesciunt cum inventore at sequi commodi nostrum id fugiat adipisci enim sed nobis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>